<h1>Product List</h1>



<ul id="products">
<% @products.each do |product| %>
<%= content_tag_for :li, product do %>
  

    <%= product.name %>
    <%= product.price %>
    <%= link_to 'Show', product %>
    <%= link_to 'Edit', edit_product_path(product) %>
    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
  
<% end %>
<% end %>

</ul>


<br />

<%= form_tag new_product_path, method: :get do %>
  <%= select_tag :product_type_id, options_from_collection_for_select(ProductType.all, :id, :name) %>
  <%= submit_tag "New Product", name: nil %>
<% end %>
