<h1>Details</h1>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<% @product.properties.each do |name, value| %>
<p>
  <b><%= name.humanize %>:</b>
  <%= value %>
</p>
<% end %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
